<form id="confirmForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <p>{{confirmationMessage}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">
      <span translate="{{confirmationButton}}"></span> <i class="fa fa-white fa-check icon-right"></i>
    </button>
    <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
      <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
    </button>
  </div>
</form>
