<div class="row" ng-if="displayId">
  <div class="col-sm-4">
    <div class="form-group form-inline">
      <label class="control-label" translate>displays-app.fields.id</label>
      <div class="form-control-static">{{display.id}}</div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="form-group" id="display-status">
      <label class="control-label" translate>displays-app.fields.status.name</label>
      <select class="form-control" ng-model="display.status">
        <option value="1" translate>displays-app.fields.status.active</option>
        <option value="0" translate>displays-app.fields.status.inactive</option>
      </select>
      <i class="fa {{display | status}} fa-circle"></i>
      <div class="form-control-static nowrap">{{display.lastActivityDate | date:'d-MMM-yyyy h:mm a'}}</div>
    </div><!--status--> 
  </div>
</div>

<div class="form-group">
  <label class="control-label" translate>displays-app.fields.name.name</label>
  <input type="text" class="form-control" placeholder="Display Name" id="name" name="name" ng-model="display.name" required>
  <p class="text-danger" ng-show="displayDetails.name.$touched && displayDetails.name.$error.required" translate>
    displays-app.fields.name.required
  </p>
</div>

<div class="form-group reboot-time">
  <div class="checkbox">
    <label class="control-label"><input type="checkbox" ng-model="display.restartEnabled"> <strong translate>displays-app.fields.reboot</strong></label> 
  </div>
  <time-picker ng-model="display.restartTime" ng-disabled="display.restartEnabled"></time-picker>
  <div class="checkbox">
    <label class="control-label"><input type="checkbox" ng-model="display.monitoringEnabled"> <strong translate>displays-app.fields.monitor</strong></label> 
  </div>
</div>

<label class="control-label half-top" for="address">
  <input type="checkbox" ng-model="display.useCompanyAddress" name="address"> <strong translate>displays-app.fields.address.useCompany</strong>
</label>

<div ng-hide="display.useCompanyAddress" class="add-top">
  <div class="form-group">
    <label class="control-label" translate>displays-app.fields.address.description</label>
    <input type="text" class="form-control" ng-model="display.addressDescription">
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.street</label>
        <input type="text" class="form-control" ng-model="display.street">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.unit</label>
        <input type="text" class="form-control" ng-model="display.unit">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.city</label>
        <input type="text" class="form-control" ng-model="display.city">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.country.name</label>
        <select class="form-control" ng-model="display.country" ng-options="c[1] as c[0] for c in countries">
          <option value="" translate>displays-app.fields.address.country.placeholder</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.province.name</label>
        <input type="text" class="form-control" ng-model="display.province" ng-hide="display.country == 'US' || display.country == 'CA'" />
        <select class="form-control selectpicker" ng-model="display.province" ng-options="c[1] as c[0] for c in regionsCA" ng-show="display.country == 'CA'">
          <option value="" translate>displays-app.fields.address.province.provincePlaceholder</option>
        </select>
        <select class="form-control selectpicker" ng-model="display.province" ng-options="c[1] as c[0] for c in regionsUS" ng-show="display.country == 'US'">
          <option value="" translate>displays-app.fields.address.province.statePlaceholder</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" translate>displays-app.fields.address.postalCode</label>
        <input type="text" class="form-control" ng-model="display.postalCode">
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <label class="control-label" translate>displays-app.fields.address.timezone.name</label>
    <select class="form-control" ng-model="display.timeZoneOffset" ng-options="c[1] as c[0] for c in timezones">
      <option value="" translate>displays-app.fields.address.timezone.placeholder</option>
    </select>
  </div>
</div><!--display address-->

<div class="add-top">
  <label class="control-label">Lookup Tags</label>
  <tag-textbox tags="display.tags"></tag-textbox>
</div>


<div class="form-group" ng-show="displayId" ng-controller="displayControls">
  <div class="add-bottom hidden-xs">
    <a ng-href="http://www.risevision.com/player/" target="_blank" class="btn btn-default">
      <i class="fa fa-download"></i> 
      {{ 'displays-app.fields.controls.download' | translate }}
    </a>
    <button type="button" class="btn btn-default" ng-disabled="!display.playerVersion" ng-click="confirm(displayId, 'restart')">
      <i class="fa fa-refresh"></i> 
      {{ 'displays-app.fields.controls.restart.name' | translate }}
    </button>
    <button type="button" class="btn btn-default" ng-disabled="!display.playerVersion" ng-click="confirm(displayId, 'reboot')">
      <i class="fa fa-power-off"></i> 
      {{ 'displays-app.fields.controls.reboot.name' | translate }}
    </button>
  </div>
  <div class="add-bottom visible-xs">
    <a ng-href="http://www.risevision.com/player/" target="_blank" class="btn btn-default btn-block half-bottom">
      <i class="fa fa-download"></i> 
      {{ 'displays-app.fields.controls.download' | translate }}
    </a>
    <button type="button" class="btn btn-default btn-block half-bottom" ng-disabled="!display.playerVersion" ng-click="confirm(displayId, 'restart')">
      <i class="fa fa-refresh"></i> 
      {{ 'displays-app.fields.controls.restart.name' | translate }}
    </button>
    <button type="button" class="btn btn-default btn-block half-bottom" ng-disabled="!display.playerVersion" ng-click="confirm(displayId, 'reboot')">
      <i class="fa fa-power-off"></i> 
      {{ 'displays-app.fields.controls.reboot.name' | translate }}
    </button>
  </div>
  <div ng-show="controlsError" class="alert alert-danger" role="alert">
    <strong translate>displays-app.fields.controls.error </strong>{{controlsError}}
  </div> 
  <div ng-show="controlsInfo" class="alert alert-info" role="alert">
    <strong>{{ controlsInfo | translate }}</strong>
  </div> 
</div>

<div class="add-bottom" ng-show="displayId && !display.playerVersion">
  <p class="add-right"><i class="fa fa-warning"></i> {{ 'displays-app.fields.player.playerWarning' | translate}}</p>
</div>

<div ng-show="displayId">
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.resolution</label>
    <div class="form-control-static">{{display.width | resolution: display.height}}</div>
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.ipAddress</label>
    <div class="form-control-static">192.168.0.1</div>
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.operatingSystem</label>
    <div class="form-control-static">N/A</div>
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.playerVersion</label>
    <div class="form-control-static">N/A</div>
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.viewerVersion</label>
    <div class="form-control-static">1-06-035</div>
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.playerUpgrade.name</label>
    <select class="form-control">
      <option translate>displays-app.fields.player.playerUpgrade.autoUpgrade</option>
    </select>
  </div>
  
  <div class="form-group form-inline">
    <label class="control-label" translate>displays-app.fields.player.installedBrowser</label>
    <div class="form-control-static">N/A</div>
  </div>      
</div>  


<script type="text/ng-template" id="lookupModal">
  <div class="modal-header">
    <h3 class="modal-title">Lookup Tags</h3>
  </div>
  <ng-include src="'partials/lookup.html'"></ng-include>
</script>
