<div>
  
  <div class="modal-body">
    
    <div class="content-box content-box-editable">
      <div class="label label-tag" ng-repeat="item in checked" ng-click="removeChecked($index)">      
        {{item.category}}: <span class="tag-value">{{item.value}}</span>
        <span><i class="fa fa-minus-circle"></i></span>
      </div>       
    </div>
    
    <div class="content-box select-tags half-top">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Search Lookup Tags" ng-model="query">
      </div>
      
      <div class="label label-tag" ng-repeat="item in items | filter:query" ng-click="toggleChecked($index)">
        {{item.category}}: <span class="tag-value">{{item.value}}</span>
        <span><i class="fa fa-plus-circle"></i></span>
      </div>    
    </div>
    
  </div><!-- modal-body -->  
  
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-fixed-width"  ng-click="cancel()">Apply <i class="fa fa-white fa-check icon-right"></i></button>
    <button type="button" class="btn btn-default btn-fixed-width" ng-click="cancel()">Cancel <i class="fa fa-times icon-right"></i></button>
  </div>
  
  
</div><!-- end: controller --> 
