<div class="row">
  <div class="col-sm-2 hidden-xs"></div>
  <div class="col-sm-8 col-xs-12">

    <div class="paid-on-board" style="padding-left:0; padding-right:0">
      <h1 translate>Displays</h1>
      <p class="lead" translate>This app allows you to manage Displays for the Rise Vision Platform.</p>

      <div class="about">
        <div class="details">
          <p translate>Please Sign In to start using the Displays App.</p>
        </div>
      </div>
    </div>  

  </div>
  <div class="col-sm-2 hidden-xs"></div>
</div>
