<div class="row">
  <div class="col-sm-2 hidden-xs"></div>
  <div class="col-sm-8 col-xs-12">

    <div class="paid-on-board" style="padding-left:0; padding-right:0">
      <h1 translate>displays-app.on-boarding.title</h1>
      <p class="lead" translate>displays-app.on-boarding.lead</p>

      <div class="about">
        <div class="details">
          <p translate>displays-app.on-boarding.details</p>
        </div>
      </div>
    </div>  

  </div>
  <div class="col-sm-2 hidden-xs"></div>
</div>
