.idea/
*.keystore
*.sw*
.DS_Store
._*
Thumbs.db
.cache
*.sublime-project
*.sublime-workspace
TODO.md
.sass-cache
node_modules
build
tmp/
npm-debug.log

reports/
bower_components/
dist/
js/config/config.js
